body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #d60000;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #8500f3;
}

main {
    width: 90%;
    margin: 20px auto;
}

p {
    line-height: 1.6;
    color: #560404;
}